{
  "hotkey": "ctrl+alt+v",
  "icon_path": "icon.png",
  "replacements": [
    {
      "regex": "(?i)name[s]?[/\\\\]",
      "replace_with": ""
    },
    {
      "regex": "example_pattern",
      "replace_with": "example_replacement"
    }
  ]
}